In [1]:
import pandas as pd

In [48]:
df = pd.read_csv("Dataset\movies_dataset.csv")

C:\Users\USER\AppData\Local\Temp\ipykernel_11360\837852289.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Dataset\movies_dataset.csv")

In [49]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [50]:
#Convertimos los campos "revenue" y "budget" en tipo numerico
df["revenue"] = pd.to_numeric(df["revenue"], errors="coerce")
df["budget"] = pd.to_numeric(df["budget"], errors="coerce")

In [51]:
#Rellenar campos "Revenue" y "budget"
df["budget"] = df["budget"].fillna(0)
df["revenue"] = df["revenue"].fillna(0)

In [52]:
#Convertimos las fechas al fromato (AAAA-mm-dd)
df["release_date"] = pd.to_datetime(df["release_date"], format= "%Y-%m-%d", errors="coerce")

In [53]:
#Eliminamos los valores nulos de "realse date"
df = df.dropna(subset=["release_date"])

In [54]:
#Creamos la columna "release_year"
df["release_year"]= df["release_date"].dt.year

C:\Users\USER\AppData\Local\Temp\ipykernel_11360\1129661279.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["release_year"]= df["release_date"].dt.year

In [55]:
#Creamos la columna "return"
df["return"] = df["revenue"].fillna(0) / df["budget"].fillna(0)

C:\Users\USER\AppData\Local\Temp\ipykernel_11360\1392336744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["return"] = df["revenue"].fillna(0) / df["budget"].fillna(0)

In [56]:
df["return"].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_11360\4001739141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["return"].fillna(0, inplace=True)

In [57]:
#Eliminamos las columnas que no van a ser utilizadas
columns_to_drop = ["video", "imdb_id", "adult", "original_title", "poster_path", "homepage"]
df = df.drop(columns=columns_to_drop)

In [58]:
import re

In [59]:
#Extraemos los diccionarios y los convertimos en columnas independientes
pattern = r"{'id': (\d+), 'name': '([^']+)', 'poster_path': '([^']+)', 'backdrop_path': '([^']+)'"
extracted_data = df["belongs_to_collection"].str.extract(pattern)

In [60]:
#Renombramos las columnas
extracted_data.columns = ["collection_id", "collection_name", "collection_poste_path", "collection_backdrop_path"]

In [61]:
extracted_data

,collection_id,collection_name,collection_poste_path,collection_backdrop_path
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,NaN,NaN,NaN,NaN
2,119050,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,NaN,NaN,NaN,NaN
4,96871,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
...,...,...,...,...
45460,NaN,NaN,NaN,NaN
45462,NaN,NaN,NaN,NaN
45463,NaN,NaN,NaN,NaN
45464,NaN,NaN,NaN,NaN
45465,NaN,NaN,NaN,NaN

In [62]:
#Concatenamos los datos extraidos con el dataset original
df= pd.concat([df, extracted_data], axis=1)

In [63]:
#Eliminamos la columna "belongs_to_collection"
df.drop(columns="belongs_to_collection", inplace=True)

In [64]:
#Eliminamos columnas que no nos interesan
df.drop(columns=["collection_id", "collection_poste_path", "collection_backdrop_path"], inplace=True)

In [65]:
import ast

In [66]:
#Convertimos las cadenas de texto en listas de diccionarios
df["genres"] = df["genres"].apply(ast.literal_eval)

In [67]:
#Definimos una funcion que extrae los elementos de la clave 'name'
def extract_names(list):
    names = [x["name"] for x in list]
    return names

In [68]:
#Aplicamos la funcion
df["genres_names"] = df["genres"].apply(extract_names)

In [69]:
#Eliminamos la columna "genres"
df.drop(columns="genres", inplace=True)

In [70]:
df

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,collection_name,genres_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,"[Animation, Comedy, Family]"
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,NaN,"[Adventure, Fantasy, Family]"
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,Grumpy Old Men Collection,"[Romance, Comedy]"
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,NaN,"[Comedy, Drama, Romance]"
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,inf,Father of the Bride Collection,[Comedy]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,1991,0.000000,NaN,"[Drama, Action, Romance]"
45462,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011,0.000000,NaN,[Drama]
45463,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000,NaN,"[Action, Drama, Thriller]"
45464,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917,0.000000,NaN,[]
45465,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017,0.000000,NaN,[]

In [71]:
#Repetimos el proceso con las demas columnas
df["production_companies"] = df["production_companies"].apply(ast.literal_eval)
df["production_companies_names"] = df["production_companies"].apply(extract_names)
df.drop(columns="production_companies", inplace=True)

In [72]:
df["production_countries"] = df["production_countries"].apply(ast.literal_eval)
df["production_countries_names"] = df["production_countries"].apply(extract_names)
df.drop(columns="production_countries", inplace=True)

In [73]:
df["spoken_languages"] = df["spoken_languages"].apply(ast.literal_eval)
df["spoken_languages_names"] = df["spoken_languages"].apply(extract_names)
df.drop(columns="spoken_languages", inplace=True)

In [74]:
df

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,release_year,return,collection_name,genres_names,production_companies_names,production_countries_names,spoken_languages_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English]
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]"
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English]
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English]
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,inf,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,NaN,Robin Hood,5.7,26.0,1991,0.000000,NaN,"[Drama, Action, Romance]","[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English]
45462,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,9.0,3.0,2011,0.000000,NaN,[Drama],[Sine Olivia],[Philippines],[]
45463,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000,NaN,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English]
45464,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,0.0,0.0,1917,0.000000,NaN,[],[Yermoliev],[Russia],[]
45465,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,0.0,0.0,2017,0.000000,NaN,[],[],[United Kingdom],[English]

In [75]:
df.isnull().sum()

budget                            0
id                                0
original_language                11
overview                        941
popularity                        0
release_date                      0
revenue                           0
runtime                         246
status                           80
tagline                       24978
title                             0
vote_average                      0
vote_count                        0
release_year                      0
return                            0
collection_name               42211
genres_names                      0
production_companies_names        0
production_countries_names        0
spoken_languages_names            0
dtype: int64

In [76]:
df2 = pd.read_csv('Dataset\credits.csv')

In [77]:
df2

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [78]:
#Desanidamos las columnas 'cast' y 'crew'
#Creamos otro df donde vamos a guardar los datos desanidados
df2_modificado = df2

In [79]:
df2_modificado["cast"] = df2_modificado["cast"].apply(ast.literal_eval)
df2_modificado["cast_names"] = df2_modificado["cast"].apply(extract_names)
df2_modificado.drop(columns="cast", inplace=True)

In [80]:

df2_modificado["crew"] = df2_modificado["crew"].apply(ast.literal_eval)
# Definimos una función para extraer el nombre del director
def extract_director_name(crew):
    for member in crew:
        if member['job'] == 'Director':
            return member['name']
    return None

# Aplicamos la función a la columna 'crew' y creamos una nueva columna 'director_name'
df2_modificado['director_name'] = df2_modificado['crew'].apply(extract_director_name)

In [81]:
df2_modificado.drop(columns='crew',inplace=True)

In [82]:
df2_modificado.drop(columns='id',inplace=True)

In [83]:
df2_modificado

                                              cast_names     director_name
0      [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...     John Lasseter
1      [Robin Williams, Jonathan Hyde, Kirsten Dunst,...      Joe Johnston
2      [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...     Howard Deutch
3      [Whitney Houston, Angela Bassett, Loretta Devi...   Forest Whitaker
4      [Steve Martin, Diane Keaton, Martin Short, Kim...     Charles Shyer
...                                                  ...               ...
45471        [Leila Hatami, Kourosh Tahami, Elham Korda]  Hamid Nematollah
45472  [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...          Lav Diaz
45473  [Erika Eleniak, Adam Baldwin, Julie du Page, J...    Mark L. Lester
45474  [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...  Yakov Protazanov
45475                                                 []     Daisy Asquith

[45476 rows x 2 columns]

In [84]:
#Concatenamos los datos extraidos con el dataset original
df= pd.concat([df, df2_modificado], axis=1)

In [85]:
df

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,release_year,return,collection_name,genres_names,production_companies_names,production_countries_names,spoken_languages_names,cast_names,director_name
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,1995.0,12.451801,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,2413.0,1995.0,4.043035,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,92.0,1995.0,0.000000,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,34.0,1995.0,5.090760,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,173.0,1995.0,inf,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45471,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Leila Hatami, Kourosh Tahami, Elham Korda]",Hamid Nematollah
45472,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz
45473,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester
45474,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov
45475,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],Daisy Asquith

In [86]:
df = df.dropna(subset=['id'])

In [87]:
df

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,release_year,return,collection_name,genres_names,production_companies_names,production_countries_names,spoken_languages_names,cast_names,director_name
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,1995.0,12.451801,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[United States of America],[English],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,2413.0,1995.0,4.043035,NaN,"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],"[English, Français]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,92.0,1995.0,0.000000,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[United States of America],[English],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,34.0,1995.0,5.090760,NaN,"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[United States of America],[English],"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,173.0,1995.0,inf,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[United States of America],[English],"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,NaN,...,26.0,1991.0,0.000000,NaN,"[Drama, Action, Romance]","[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",[English],[Georges Méliès],Georges Méliès
45462,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,...,3.0,2011.0,0.000000,NaN,[Drama],[Sine Olivia],[Philippines],[],[],Robert Gardner
45463,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,6.0,2003.0,0.000000,NaN,"[Action, Drama, Thriller]",[American World Pictures],[United States of America],[English],"[Sridevi Kapoor, Sajal Ali, Akshaye Khanna, Na...",Ravi Udyawar
45464,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,0.0,1917.0,0.000000,NaN,[],[Yermoliev],[Russia],[],"[Markie Adams, Roberto Aguire, Tina Arning, La...",Shanra J. Kehl
45465,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,0.0,2017.0,0.000000,NaN,[],[],[United Kingdom],[English],"[Giulio Brogi, Renato Cestiè, Vito Cipolla, Da...",Paolo Taviani

In [88]:
df.to_csv('movies_modificado.csv', index=False)